/* CSS declarations go here */
div{
    white-space: nowrap;;
}
.carePro{
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
}
.half{
    width:50%;
    white-space: normal;
}
.experience,.willing{
    vertical-align: top;
    display: inline-block;
}
.task{
    font-weight: bold;
}
.task-group{
    padding:10px;
}
