<header>
    <h1>CarePro List</h1>
    <button ng-click="$ctrl.addRandomCarePro()">Add a somewhat random CarePro</button>
    <button ng-click="$ctrl.addExampleCarePro()">Add Example CarePro</button>
</header>
<h2>Found {{$ctrl.matchedCarePros.length}} {{$ctrl.matched }} CarePro out of all {{$ctrl.carePros.length}}</h2>
<div ng-repeat="carePro in $ctrl.matchedCarePros">
    <div class="carePro" ng-click="carePro.show=(carePro.show==null||!carePro.show)">
        {{carePro.first_name}} {{carePro.last_name}} -
        <a href="mailto:{{carePro.email_address}}">{{carePro.email_address}}</a> -
        <a href="tel:{{carePro.phone_number}}">{{carePro.phone_number}}</a>
        <button ng-click="$ctrl.removeCarePro(carePro._id)">Remove this CarePro</button>
        <div class="ng-hide carePro-details" ng-show="carePro.show">
            <div class="half experience">
                <h2>Experienced To</h2>
                <div class="task-group" ng-repeat="(task, levels) in carePro.skills_qualifications.task_level_experience">
                    <div class="task">{{task}}</div>
                    <ul ng-show="!levels.length"><li>-</li></ul>
                    <ul ng-show="levels.length">
                        <li ng-repeat="level in levels">{{level}}</li>
                    </ul>
                </div>
            </div>
            <div class="half willing">
                <h2>Willing To</h2>
                <div class="task-group" ng-repeat="(task, levels) in carePro.skills_qualifications.task_level_willingness">
                    <div class="task">{{task}}</div>
                    <ul ng-show="!levels.length"><li>-</li></ul>
                    <ul ng-show="levels.length">
                        <li ng-repeat="level in levels">{{level}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="!$ctrl.matchedCarePros.length" class="ng-hide">- No CarePro Found, try adding one -</div>
